services:
  postgres:
    image: postgres:latest
    container_name: myposgres
    environment:
      - POSTGRES_DB=mydatabase
      - POSTGRES_PASSWORD=secret
      - POSTGRES_USER=myuser
    ports:
      - 5444:5432
